body {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: px;
    margin-right: 0px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

header {
    margin: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(backtemp.jpg);
    /*    first 0.5 is transparency at top, then bottom
    e.g. fade top to bottom out : 0.5 then 1*/
    height: 100vh;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
}


.greet {
    position: relative;
    top: 140px;
    left: 180px;
    color: white;
    font-size: 400%;
    font-family: 'Reenie Beanie', cursive;

    animation-name: fadeInLeft;
    animation-duration: 1s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        left: 80px;
    }
    to {
        opacity: 1;
        left: 180px;
    }
}

.my_name {
    position: relative;
    color: mediumturquoise;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1000%;
    animation-name: fadeInTop;
    animation-duration: 2.5s;
    top: 160px;
    /*    if you don't put top again, i dont know why snaps up to 50px ish */
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        top: 80px;
    }
    to {
        opacity: 1;
        top: 160px;
    }
}

.intro {
    position: relative;
    text-align: center;
    font-size: 250%;
    color: white;
    top: 160px;
    font-family: 'Just Me Again Down Here', cursive;
    animation-name: fadeIn;
    animation-duration: 5.5s;
}

.nav {
    text-align: center;
    position: relative;
    top: 280px;

}


.button {
    color: black;
    position: relative;
    background: linear-gradient(to bottom right, aquamarine, darkturquoise);
    border: none;
    border-radius: 40px;
    padding: 10px 60px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 140%;
    margin: 4px 15px;
    /*     margin: second one is horizontal spacing*/
    cursor: pointer;

    transition-property: all;
    transition-duration: 0.3s;


    opacity: 0;
    animation-name: scaleIn;
    animation-duration: 3s;
    animation-delay: 3s;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 0px 11px 15px #333333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* A B O U T */

.grad1 {
    height: 300px;
    width: 800px;
    background:
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.0);
        opacity: 1;
    }
}


/*https://cliquemeet.com/*/

/* inspo for the bottom bar the icons bounce*/

7
/*https://numie.co/
has a cool little side contact thing, maybe change contact?*/
